<h1>New Brand:</h1>

<form action="/brands" method="post">
  <label for="name">Brand</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Add Brand</button>
</form>
