<h1>Edit Store:</h1>
<h1>Update <%=@store.name() %>'s details</h1>

<form action="/stores/<%= @store.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Store</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Edit Store</button>
</form>

<br>

<form method="post" action="/stores/<%= @store.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete" class="btn">
</form>