<h1>SHOE BRAND</h1>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://www.airjordans-11.org/includes/templates/sunglass01/images/banner.jpg">
            </div>
            <div class="item">
                <img src="http://www.nikefree3-0.com/includes/templates/lgy121/images/banner.jpg" alt="Second Slide">
            </div>
            <div class="item">
                <img src="http://esq.h-cdn.co/assets/16/50/1600x800/landscape-1481818863-theory-armando-cabral.jpg" alt="Third Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<section id="bizar-links-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="hero">
              <h1>STORES</h1>

              <a class="btn btn-default" href="/store/new" role="button" target="_new">ADD NEW STORES</a>

              <img src="http://sneakernews.com/wp-content/uploads/2017/03/nike-store-moscow-1.jpg">
            </div>
          </div>

          <div class="col-md-4">
          <h1>Track your stores and brands with this amazing app</h1>
          </div>
          <div class="col-md-4">
            <div class="hero">
              <h1>BRANDS</h1>
              <a class="btn btn-default" href="#" role="button">BRANDS</a>
              <br> <a class="btn btn-default" href="/brand/new" role="button">ADD NEW BRAND</a>


              <img src="https://cdn.theatlantic.com/assets/media/img/mt/2015/07/25_original_24_/lead_960.jpg?1435869946">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
