<!DOCTYPE html>
  <html>
    <head>
      <title>MM NA WW</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <style>

      body {
        background-color: #282828;
      }

      nav {
        background-color: Black;
      }

      h1 {
        text-align: center;
        text-decoration-style: wavy;
        color: white;

      }

      .carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}


      </style>

    </head>
    <body>
      <nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo center">Brands</a>
     <ul class="left hide-on-med-and-down">
       <li><a href="sass.html"></a></li>
       <li><a href="badges.html">Components</a></li>
       <li class="active"><a href="collapsible.html">JavaScript</a></li>
     </ul>
   </div>
 </nav>

      <div>
        <%=yield%>
      </div>
    </body>
    </html>
