
<h1>Stores</h1>

<% if @stores.any?() %>
<h3> Our Stores</h3>
<ul>
  <% @stores.each() do |store| %>
<li><a href="/stores/<%= store.id()%>"><%= store.name() %></a> </li>
<% end %>
</ul>
<% else %>
<p>There are no stores yet!</p>
<% end %> 

