
<h1>Stores</h1>
<hr>
<div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Text on Right
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/45/Adidas_store%2C_Novosibirsk_1.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>ADIDAS</h3>
                <h4>More details</h4>
                <p>Adidas AG is a German multinational corporation, headquartered in Herzogenaurach, Bavaria, that designs and manufactures shoes, clothing and accessories. It is the largest sportswear manufacturer in Europe, and the second largest in the world.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://www.fila.com.hk/2014/img/large-box-img5.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>FILA</h3>
                <h4>More details</h4>
                <p>Fila, Inc. is a South Korean sporting goods company. Fila was founded in 1911 in Italy, but since a takeover in 2007 by Fila Korea, Fila is now owned and operated from South Korea.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://www.fashopi.com/listing/222574.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>PUMA</h3>
                <h4>More details</h4>
                <p>PUMA SE, branded as PUMA, is a German multinational company that designs and manufactures athletic and casual footwear, apparel and accessories, headquartered in Herzogenaurach, Bavaria. The company was founded in 1948 by Rudolf Dassler</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

<hr>

<% if @stores.any?() %>
<h3> Our Stores</h3>
<ul>
  <% @stores.each() do |store| %>
<li><a href="/stores/<%= store.id()%>"><%= store.name() %></a> </li>
<% end %>
</ul>
<% else %>
<p>There are no stores yet!</p>
<% end %> 

