<h1>New Store:</h1>

<form action="/stores" method="post">
  <label for="name">Store</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Add Store</button>
</form>
